<div class="d-flex flex-column m-3 justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <h3>Usuario: {{ user.username }}</h3>
        <small>Rol: {{ user.role }}</small>
    </div>
    <div class="d-flex m-3 justify-content-center">
        <form class="form-group" [formGroup]="updateUserForm" (ngSubmit)="onUserUpdateSubmit()">
            <div class="mb-3">
                <label for="username">Nuevo nombre de usuario: </label>
                <input class="form-control" id="username" type="text" formControlName="username">
            </div>
            <div class="mb-3">
                <label for="password">Nueva contraseña: </label>
                <input class="form-control" id="password" type="password" formControlName="password">
            </div>
            <div class="mb-3">
                <label for="role">Nuevo rol: </label>
                <select class="form-control" id="role" formControlName="role">
                    <option *ngFor="let role of roles" [ngValue]="role">
                        {{role}}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control" type="submit" value="Actualizar">
            </div>
        </form>
    </div>
</div>