<div *ngIf="game.state == gameStateType.created">
    <button mat-button (click)="startGame()" *ngIf="usersConnected.length != 0">Empezar</button>
    <app-host-wait-room (users)="addUsers($event)"></app-host-wait-room>
</div>
<div class="question_preview" *ngIf="isPreviewScreen">
    <h1>{{ timeLeft }} </h1>
</div>
<div class="spinner-border text-primary" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="d-flex flex-column align-items-center" *ngIf="isQuestionScreen">
    <h1>{{ timeLeft }} </h1>
    <h1>{{ actualQuestion.description }}</h1>
    <div class="image-box mb-2" *ngIf="game.are_questions_visible && actualQuestion.resource != ''">
        <div class="imageContainer">
            <img [src]="actualQuestion.resource" *ngIf="actualQuestion.resource != ''" alt="Question image source" />
        </div>
    </div>
    <div class="row w-100 gap-2 ms-2 me-2" *ngIf="actualQuestion.type == 'multioption' || actualQuestion.type == 'true_false'">
        <h2 class="col bg-white text-center">{{ actualQuestion.answers[0].description }}</h2>
        <h2 class="col bg-white text-center">{{ actualQuestion.answers[1].description }}</h2>
    </div>
    <div class="row w-100 gap-2 ms-2 me-2" *ngIf="actualQuestion.type == 'multioption'">
        <h2 class="col bg-white text-center">{{ actualQuestion.answers[2].description }}</h2>
        <h2 class="col bg-white text-center">{{ actualQuestion.answers[3].description }}</h2>
    </div>
</div>
<div class="d-flex flex-column align-items-center" *ngIf="isQuestionResult">
    <h1>La/s respuesta/s correcta/s es: </h1>
    <h2 *ngFor="let answer of correctAnswers">
        {{ answer.description }}
    </h2>
</div>
<div class="d-flex flex-column align-items-center" *ngIf="isLeaderboardScreen">
    <h1>1º {{ userResults[0].user.username}}</h1>
    <div class="d-flex flex-row" *ngIf="usersConnected.length >= 2">
        <h2>2º {{ userResults[1].user.username}}</h2>
        <h2 *ngIf="usersConnected.length >= 3">3º {{ userResults[2].user.username}}</h2>
    </div>

</div>
<div *ngIf="isFinished">
    <h1>Juego terminado</h1>
    <button mat-raised-button (click)="leaveGame()">Salir</button>
</div>