<div class="wait_room" *ngIf="gameSession.state == gameSessionState.not_started || gameSession == undefined">
    <button mat-button (click)="startGame()" *ngIf="gameSession.users.length != 0">Empezar</button>
    <h1>Usuarios conectados</h1>
    <div class="d-flex flex-row flex-wrap gap-2" *ngFor="let user of gameSession.users">
        <div class="d-flex flex-column ps-2">
            <h2>{{ user.username }}</h2>
        </div>
        
    </div>
    <p *ngIf="gameSession.users.length == 0">Esperando usuarios...</p>
</div>
<div class="d-flex flex-column gap-1 justify-content-center align-items-center"*ngIf="gameSession.state == gameSessionState.is_preview_screen">
    <h1>{{ actualQuestion.description }}</h1>
    <h1 class="question_preview w-100">{{ timeLeft }} </h1>
</div>
<div class="spinner-border text-primary" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="d-flex flex-column align-items-center p-5" *ngIf="gameSession.state == gameSessionState.is_question_screen">
    <h1>{{ timeLeft }} </h1>
    <h1>{{ actualQuestion.description }}</h1>
    <div class="image-box mb-2" *ngIf="game.are_questions_visible && actualQuestion.resource != ''">
        <div class="imageContainer">
            <img [src]="actualQuestion.resource" *ngIf="actualQuestion.resource != ''" alt="Question image source" />
        </div>
    </div>
    <div class="row w-100 gap-2 ms-2 me-2"
        *ngIf="actualQuestion.type == 'multioption' || actualQuestion.type == 'true_false'">
        <h2 class="col bg-white text-center">{{ actualQuestion.answers[0].description }}</h2>
        <h2 class="col bg-white text-center">{{ actualQuestion.answers[1].description }}</h2>
    </div>
    <div class="row w-100 gap-2 ms-2 me-2" *ngIf="actualQuestion.type == 'multioption'">
        <h2 class="col bg-white text-center">{{ actualQuestion.answers[2].description }}</h2>
        <h2 class="col bg-white text-center">{{ actualQuestion.answers[3].description }}</h2>
    </div>
</div>
<div class="d-flex flex-column align-items-center" *ngIf="gameSession.state == gameSessionState.is_question_result">
    <h1>La/s respuesta/s correcta/s es: </h1>
    <h2 *ngFor="let answer of correctAnswers">
        {{ answer.description }}
    </h2>
</div>
<div class="d-flex flex-column align-items-center" *ngIf="gameSession.state == gameSessionState.is_leaderboard_screen">
    <h1>1º {{ gameSession.users[0].username}}</h1>
    <div class="d-flex flex-row" *ngIf="gameSession.users.length >= 2">
        <h2>2º {{ gameSession.users[0].username}}</h2>
        <h2 *ngIf="gameSession.users.length >= 3">3º {{ gameSession.users[0].username}}</h2>
    </div>
    <button mat-raised-button (click)="nextQuestion()">Siguiente</button>
</div>
<div *ngIf="gameSession.state == gameSessionState.is_finished">
    <h1>Juego terminado</h1>
    <button mat-raised-button (click)="leaveGame()">Salir</button>
</div>
<div *ngIf="isError" class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>