
<div class="d-flex m-3 flex-column justify-content-center">
    <h1 class="fs-1 p-3">{{'ADMIN.CREATE_COURSE.CREATE_NEW_COURSE' | translate}}</h1>
    <form class="form-group w-50" [formGroup]="createCourseForm" (ngSubmit)="onCourseSubmit()">
        <div class="mb-3">
            <label for="name">{{'ADMIN.CREATE_COURSE.COURSE_NAME' | translate}} </label>
            <input class="form-control" id="name" type="text" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="description">{{'ADMIN.CREATE_COURSE.DESCRIPTION' | translate}} </label>
            <input class="form-control" id="description" type="text" formControlName="description">
        </div>
        <div class="mb-3">
            <input id="submit" class="form-control" type="submit" value="{{'ADMIN.CREATE_COURSE.ACCEPT' | translate}}">
        </div>
    </form>
</div>