<div class="d-flex flex-column gap-2 align-items-center justify-content-center">
    <h1 class="fs-1">{{ user!.username }}</h1>
    <form class="d-flex flex-column align-items-center justify-content-center " [formGroup]="passwordFormGroup">
        <h1>Modificar contraseña</h1>
        <mat-form-field class="">
            <mat-label>Constraseña</mat-label>
            <input type="password" id="password" matInput formControlName="password">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Repetir contraseña</mat-label>
            <input type="password" id="passwordBis" matInput formControlName="passwordBis">
        </mat-form-field>
        <button class="mb-5" mat-raised-button (click)="submitPassword()">Aceptar</button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
    <h1>Últimos juegos jugados</h1>
    <div class="spinner-border text-primary" role="status" *ngIf="loadingResults">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="d-flex flex-row flex-wrap gap-2" *ngFor="let result of results">
        <div class="container d-flex flex-columns align-items-center gap-1 bg-light border rounded-pill">
            <h3><strong>{{ result.game?.survey?.title }}</strong></h3>
            <h3>Id del juego: {{ result.game_id }} </h3>
            <h4>Puntuación: {{ result.score }}</h4>
        </div>
    </div>
</div>