<div class="d-flex flex-column gap-3 p-4 mb-5">
    <h1 class="fs-1" *ngIf="isAdmin">Lista de cursos</h1>
    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="border d-flex flex-row gap-5 justify-content-between align-items-center" *ngFor="let course of courses">
        <div class="d-flex flex-column ps-2 bg-light w-100">
            <h2 *ngIf="isAdmin"><a [routerLink]="['/courses/update', course.id]">{{ course.name}}</a></h2>
            <h2 *ngIf="isProfessor"><a [routerLink]="['/course/details', course.id]">{{ course.name}}</a></h2>
            <small class="fs-6 pb-2">{{ course.description }}</small>
        </div>
        <button type="button" class="btn btn-danger" (click)="onDeleteCourse(course.id)" *ngIf="isAdmin">Eliminar</button>
    </div>
    <div class="d-flex flex-row gap-3 mb-5" *ngIf="isAdmin">
        <button type="button" class="btn btn-dark w-25" (click)="onCreateCourse()">Nuevo curso</button>
        <div class="alig-self-center">
            <label for="fileUpload">Importar cursos: </label>
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">

                {{fileName || ""}}

                <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>