<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="">
        <img src="../../assets/uniovi.png" width="50" height="50" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active fs-6" href="">Inicio</a>
        <a class="nav-item nav-link fs-6" href="/users">Usuarios</a>
        <a class="nav-item nav-link fs-6" href="/courses">Cursos</a>
        <a class="nav-item nav-link fs-6" href="/questions/create">Crear preguntas</a>
        <a class="nav-item nav-link fs-6" href="/questions/list">Preguntas</a>
        <a class="nav-item nav-link fs-6" href="/login">Login</a>
      </div>
    </div>
  </nav>