<div class="d-flex flex-column gap-3 ms-3 me-3 mb-5">
    <h1 class="fs-1 mt-3" *ngIf="isAdmin">{{"ADMIN.COURSE_LIST.COURSE_LIST" | translate }}</h1>
    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="d-flex flex-row gap-3" *ngIf="isAdmin">
        <button id="createCourse" type="button" class="btn btn-dark w-25" (click)="onCreateCourse()">{{"ADMIN.COURSE_LIST.NEW_COURSE" |
            translate }}</button>
        <div class="alig-self-center">
            <label for="fileUpload">{{"ADMIN.COURSE_LIST.IMPORT_COURSE" | translate }} </label>
            <input id="file" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">

                {{fileName || ""}}

                <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="mb-5 d-flex flex-column gap-3 bg-light">
        <div class="border d-flex flex-row gap-5 justify-content-between align-items-center"
            *ngFor="let course of courses">
            <div class="d-flex flex-column ps-2 w-100">
                <h2 *ngIf="isAdmin"><a id="{{course.name}}" [routerLink]="['/courses/update', course.id]">{{ course.name}}</a></h2>
                <h2 *ngIf="isProfessor"><a id="{{course.name}}" [routerLink]="['/course/details', course.id]">{{ course.name}}</a></h2>
                <small class="fs-6 pb-2">{{ course.description }}</small>
            </div>
            <button id="delete{{course.name}}" type="button" class="btn btn-danger me-3" (click)="onDeleteCourse(course.id)"
                *ngIf="isAdmin">{{"ADMIN.COURSE_LIST.DELETE" | translate }}</button>
        </div>
    </div>
</div>