<div class="d-flex flex-column">

        <div class="row" *ngIf="type == types.multioption || type == types.true_false">
        <div class="col d-flex justify-content-center" [formGroup]="answer1FormGroup">
            <mat-form-field>
                <mat-label>Respuesta</mat-label>
                <textarea  matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-checkbox (change)="changeCheck($event.checked, answersType.answer1)" formControlName="checked"></mat-checkbox>
        </div>
        <div class="col d-flex justify-content-center" [formGroup]="answer2FormGroup">
            <mat-form-field>
                <mat-label>Respuesta</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-checkbox (change)="changeCheck($event.checked, answersType.answer2)" formControlName="checked"></mat-checkbox>
        </div>
    </div>
    
    <div class="row" *ngIf="type == types.multioption">
        <div class="col d-flex justify-content-center" [formGroup]="answer3FormGroup">
            <mat-form-field>
                <mat-label>Respuesta</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-checkbox formControlName="checked"></mat-checkbox>
        </div>
        <div class="col d-flex justify-content-center" [formGroup]="answer4FormGroup">
            <mat-form-field>
                <mat-label>Respuesta</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-checkbox formControlName="checked"></mat-checkbox>
        </div>
    </div>
    <div class="d-flex justify-content-center " *ngIf="type == types.short" [formGroup]="shortAnswersFormGroup">
        <div class="d-flex flex-column w-50 align-items-center gap-1">
            <mat-form-field>
                <mat-label>Respuesta</mat-label>
                <textarea matInput formControlName="answer1"></textarea>
            </mat-form-field>
            <mat-card>
                <mat-card-content>Otras respuestas aceptadas</mat-card-content>
            </mat-card>
            <div class="d-flex flex-row gap-2">
                <mat-form-field>
                    <mat-label>Respuesta</mat-label>
                    <textarea matInput formControlName="answer2"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Respuesta</mat-label>
                    <textarea matInput formControlName="answer3"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Respuesta</mat-label>
                    <textarea matInput formControlName="answer4"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <button class="mb-5" mat-raised-button (click)="submitAnswers()" *ngIf="answersToEdit.length == 0">Crear pregunta</button>
    <button class="mb-5" mat-raised-button (click)="updateAnswers()" *ngIf="answersToEdit.length != 0">Actualizar pregunta</button>
</div>
