<div class="spinner-border text-primary" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="d-flex gap-4 justify-content-between align-items-center" *ngFor="let survey of surveys">
    <div class="border m-3 d-flex flex-row gap-3 bg-light w-100">
        <div class="imageContainer">
            <img [src]="survey.resource != '' ? survey.resource : '../../../assets/default-placeholder.png'"
                alt="Question image source" />
        </div>
        <h2><strong>{{ survey.title }}</strong></h2>
        <button mat-mini-fab color="primary" class="upload-btn flex-shrink-1 ms-3" (click)="addSurveyToCourse(survey)"
            *ngIf="isSelecting && !isInclude(survey)">
            <mat-icon>library_add</mat-icon>
        </button>
        <a class="m-2" [routerLink]="['/survey/edit', survey.id]">
            <button type="button" mat-raised-button>
                Editar <mat-icon>edit</mat-icon>
            </button>
        </a>
        <button  mat-button type="button" class="btn btn-danger ms-2 mt-2"
            (click)="deleteSurvey(survey)">Eliminar<mat-icon>delete_forever</mat-icon></button>
    </div>
</div>
<button class="m-2" mat-raised-button (click)="createNewSurvey()" *ngIf="!isSelecting">Crear nuevo cuestionario</button>