<h1>{{ actualQuestion.description }}</h1>
<div class="row" *ngIf="actualQuestion.type == 'multioption' || actualQuestion.type == 'true_false'">
        <h2 class="col bg-white">{{ actualQuestion.answers[0].description }}</h2>
        <h2 class="col bg-white">{{ actualQuestion.answers[1].description }}</h2>
</div>
<div class="row" *ngIf="actualQuestion.type == 'multioption'">
    <h2 class="col bg-white">{{ actualQuestion.answers[2].description }}</h2>
    <h2 class="col bg-white">{{ actualQuestion.answers[3].description }}</h2>
</div>
<div class="short">
    <mat-form-field>
        <mat-label>Respuesta</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>