.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
}

.course {
    max-width: 600px;
    background-color: #d9d9d9;
    border-radius: 15px;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        margin-left: .5em;
        margin-right: .5em;
        gap: 1em;
    }
}