button {
    height: 9em !important;
    width: 100% !important;
    border-radius: 30px;
}

#button-short {
    width: 50% !important;  
    height: 4em !important; 
}

.imageContainer {
    max-width: 500px;
    overflow: hidden;
}


img {
    max-width: 100%;
    max-height: 100%;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 95%;
    height: fit-content;
    gap: 1em;
    align-items: center;
    margin-bottom: 2.5em;
}

.grid-item {
    width: 100% !important;
    font-size: x-large;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .short {
    height: 9em;
    border-radius: 30px;
  }