<div class="d-flex flex-column gap-2 align-items-center">
    <h2 class="bg-light shadow-sm ps-5 pe-5 text-center" *ngIf="game.are_questions_visible">{{
        actualQuestion.description }}</h2>
    <div class="image-box mb-2" *ngIf="game.are_questions_visible">
        <div class="imageContainer">
            <img src="../../assets/testImage.jpg" alt="Question image source" />
        </div>
    </div>
    <div class="grid-container">
        <button mat-button class="grid-item bg-primary text-center text-white"
            *ngIf="actualQuestion.type == 'multioption' || actualQuestion.type == 'true_false'">{{
            actualQuestion.answers[0].description }}</button>

        <button mat-button class="grid-item bg-danger text-center text-white"
            *ngIf="actualQuestion.type == 'multioption' || actualQuestion.type == 'true_false'">{{
            actualQuestion.answers[1].description }}</button>
        <button mat-button class="grid-item bg-success text-center text-white"
            *ngIf="actualQuestion.type == 'multioption'">{{
            actualQuestion.answers[2].description }}</button>
        <button mat-button class="grid-item bg-warning text-center text-white"
            *ngIf="actualQuestion.type == 'multioption'">{{
            actualQuestion.answers[3].description }}</button>
        
    </div>
    <form class="d-flex flex-column align-items-center justify-content-center w-100" *ngIf="actualQuestion.type == 'short'">
        <div class=" d-flex justify-content-center  align-items-center bg-primary short mb-5">
            <h3 class="text-center text-white ps-2 pe-2">Escribe la respuesta correcta:</h3>
        </div>
        <mat-form-field  class="example-form">
            <mat-label>Respuesta</mat-label>
            <input matInput  />
        </mat-form-field>
        <button id="button-short" mat-raised-button class="bg-primary text-white w-50">Aceptar</button>
    </form>
</div>